# Données brutes uniquement
data/raw/

# On garde chunks.jsonl et index/
# data/processed/  ← commenté
# data/index/      ← commenté

# Python
__pycache__/
*.pyc
*.egg-info/
.venv/
.git/
notebooks/
.env
.cache/
logs/