*.bin filter=lfs diff=lfs merge=lfs -text
*.sqlite3 filter=lfs diff=lfs merge=lfs -text
*.pickle filter=lfs diff=lfs merge=lfs -text
data/processed/chunks.jsonl filter=lfs diff=lfs merge=lfs -text
data/index/chroma/**.bin filter=lfs diff=lfs merge=lfs -text
data/index/chroma/**.sqlite3 filter=lfs diff=lfs merge=lfs -text
data/index/chroma/**.pickle filter=lfs diff=lfs merge=lfs -text
